name: Create Release
on:
  pull_request:
    types: [ labeled ]
jobs:
  build:
    name: Create Release
    if: ${{ github.event.label.name == 'release'}}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch Master
        uses: actions/checkout@master
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Changes in this Release
            - ${{ github.event.head_commit.message }}
          draft: false
          prerelease: false