name: Publish Docker Image to Docker Hub
run-name: ${{ github.actor }} has started publish docker image
on:
  pull_request:
    types: [ labeled ]
jobs:
  docker:
    if: ${{ github.event.label.name == 'release'}}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: laurocorreia/reactive-api:latest